# Python
__pycache__/
*.pyc
.pytest_cache/

# Entornos
.env
.env.test
venv/
.venv/

# Uploads
uploads/

# Frontend
frontend/node_modules/

# OS
.DS_Store
Thumbs.db
__pycache__/
*.pyc
.pytest_cache/
__pycache__/
*.pyc
.pytest_cache/